<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuituidan.openhub.mapper.HomeMapper">

    <select id="selectAllDataLogCount" resultType="long">
        select count(*)
        from sys_data_log;
    </select>

    <select id="selectAllPushLogCount" resultType="long">
        select count(*)
        from sys_push_log;
    </select>

    <select id="selectPushLogCount" resultType="long">
        select count(*)
        from sys_push_log
        where DATE_FORMAT(push_time, '%Y%m%d') = #{date} and status = #{status}
    </select>

    <select id="todayDataLogLine" resultType="com.tuituidan.openhub.bean.vo.LineData">
        select datasource_id as id, hour(create_time) as xdata, count(*) as ydata
        from sys_data_log
        where DATE_FORMAT(create_time, '%Y%m%d') = #{curDate}
        group by datasource_id, hour(create_time)
    </select>

    <select id="todayPushLogLine" resultType="com.tuituidan.openhub.bean.vo.LineData">
        select app_id as id, hour(push_time) as xdata, count(*) as ydata
        from sys_push_log
        where DATE_FORMAT(push_time, '%Y%m%d') = #{curDate}
        group by app_id, hour(push_time)
    </select>

    <select id="lastMonthDataLogLine" resultType="com.tuituidan.openhub.bean.vo.LineData">
        select datasource_id as id, DATE_FORMAT(create_time, '%m-%d') as xdata, count(*) as ydata
        from sys_data_log
        where DATE_FORMAT(create_time, '%Y%m%d') >= #{lastMonthDate}
        group by datasource_id, DATE_FORMAT(create_time, '%m-%d')
    </select>

    <select id="lastMonthPushLogLine" resultType="com.tuituidan.openhub.bean.vo.LineData">
        select app_id as id, DATE_FORMAT(push_time, '%m-%d') as xdata, count(*) as ydata
        from sys_push_log
        where DATE_FORMAT(push_time, '%Y%m%d') >= #{lastMonthDate}
        group by app_id, DATE_FORMAT(push_time, '%m-%d')
    </select>

    <select id="selectTableDataCount" resultType="com.tuituidan.openhub.bean.vo.LineData">
        select concat(database_name, table_name) as xdata,count(*) as ydata from sys_data_log
        GROUP BY database_name,table_name;
    </select>
    <select id="selectAppCostTime" resultType="com.tuituidan.openhub.bean.vo.LineData">
        select app_id as id,sum(cost_time)/count(*) as ydata
        from sys_push_log GROUP BY app_id
    </select>
</mapper>
