<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuituidan.openhub.mapper.HomeMapper">

    <select id="selectAllDataLogCount" resultType="long">
        select count(*)
        from sys_data_log;
    </select>

    <select id="selectAllPushLogCount" resultType="long">
        select count(*)
        from sys_push_log;
    </select>

    <select id="selectPushLogCount" resultType="long">
        select count(*)
        from sys_push_log
        where DATE_FORMAT(push_time, '%Y%m%d') = #{date}
        <choose>
            <when test="status == '200'">
                and status = '200'
            </when>
            <otherwise>
                and status != '200'
            </otherwise>
        </choose>
    </select>

    <select id="todayDataLogLine" resultType="com.tuituidan.openhub.bean.vo.LineData">
        select datasource_id as id, hour(create_time) as xdata, count(*) as ydata
        from sys_data_log
        where DATE_FORMAT(create_time, '%Y%m%d') = #{curDate}
        group by datasource_id, hour(create_time)
    </select>

    <select id="todayPushLogLine" resultType="com.tuituidan.openhub.bean.vo.LineData">
        select app_id as id, hour(push_time) as xdata, count(*) as ydata
        from sys_push_log
        where DATE_FORMAT(push_time, '%Y%m%d') = #{curDate}
        group by app_id, hour(push_time)
    </select>

    <select id="lastMonthDataLogLine" resultType="com.tuituidan.openhub.bean.vo.LineData">
        select datasource_id as id, day(create_time) as xdata, count(*) as ydata
        from sys_data_log
        where DATE_FORMAT(create_time, '%Y%m%d') >= #{lastMonthDate}
        group by datasource_id, day(create_time)
    </select>

    <select id="lastMonthPushLogLine" resultType="com.tuituidan.openhub.bean.vo.LineData">
        select app_id as id, day(push_time) as xdata, count(*) as ydata
        from sys_push_log
        where DATE_FORMAT(push_time, '%Y%m%d') >= #{lastMonthDate}
        group by app_id, day(push_time)
    </select>
</mapper>
